@import "bootstrap-sprockets";
@import "bootstrap";


$gray-medium-light: #eaeaea;
$light-blue-header: #5092da;
$white : #ffffff;
$black : #000000;
/* universal */

@mixin box_sizing {
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

@media (all and min-width:1000px){
	header >.container{
		width:85%;
		display:block;
	}
	footer .container{
		width:85%;
	}
	body > div.container{
		width:85%;
		display:block;
	}
}
//forms

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: 500;
		font-size:15px;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}



body {
	padding-top: 100px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/* header */

header {
	height: 100px;
	background-color: $light-blue-header;
	.container{
		height:100%;
	}
	#logo{
		display:inline-flex;
		height:100%;
		justify-content:space-around;
		align-items:center;
		float: left;
		font-size: 2.7em;
		color: white;
		text-transform: uppercase;
		letter-spacing: -1px;
		padding-top: 9px;
		font-weight: bold;
		&:hover {
			color: white;
			text-decoration: none;
		}
	}
	nav{
		height:100%;
		font-size:1.5em;
		display:inline-flex;
		justify-content: center;
		align-items: center;
		float:right;
		li{
			margin:0px 5px;
		}
	}
	.nav {
		a {
			color: $white;
			&:hover, &:link, &:active, &:focus, &:visited{
				background-color:transparent;
			}
			&:hover, &:active, &:focus{
				color: $black;
			}
		}
		.open > a:focus{
			background-color: transparent;
		}
	}

	.dropdown-menu {
		li{
			margin:5px 0px;
			&:hover{
				background-color: lightblue;
			}
			a{
				color: $black;
				font-size: 16px;
				font-weight: 500;
			}
		}
	}
}



/* footer */

footer {
	padding:5px 20px;
	border-top: 1px solid $gray-medium-light;
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	z-index:150;
	min-height:100px;
	color: $gray-light;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color:white;
	a {
		color: $gray;
		&:hover {
			color: $gray-darker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}



/* sidebar */

aside {
	margin-top: 40px;
	padding: 10px 0;
	&:first-child {
		border: 0;
		padding-top: 0;
	}
	span {
		display: block;
		margin-bottom: 3px;
		line-height: 1;
	}
	h1 {
		font-size: 3em;
		text-align: left;
		letter-spacing: -1px;
		margin-bottom: 3px;
		margin-top: 0px;
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
	border-radius:50% 50%;
}

.gravatar_edit {
	margin-top: 15px;
	display:flex;
}

.delete-user-link{
	float:right;
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.users{
	list-style:none;
	margin:0;
	li{
		overflow: auto;
		padding: 10px 0px;
		border-bottom: 1px solid $gray-lighter;
	}
}



//login
.short-button{
	font-size:15px;
	margin-top:20px;
}



.alternate-area{
	margin:10px 0px;
	vertical-align: bottom;
	font-size:15px;
	font-weight: 600;
	display:inline-block;
	#sign-up-span{
		//color:cornflowerblue;
		text-decoration: underline;
	}
}

.flash-message{
	margin-top:20px;
}

//pagination

div.pagination{
	width:100%;
	display:flex;
}

ul.pagination{
	margin:20px auto;
}
